<div class="container">
  <form
    class="needs-validation"
    (ngSubmit)="onSubmit(calcForm)"
    #calcForm="ngForm"
  >
    <div class="form-row mt-3">
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="genderGroupPrepend">Gender</span>
          </div>
          <select
            class="custom-select"
            id="gender"
            aria-describedby="genderGroupPrepend"
            [(ngModel)]="selectedGender"
            name="gender"
          >
            <option selected value="m">Male</option>
            <option value="f">Female</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ageGroupPrepend">Age</span>
          </div>
          <select
            class="custom-select"
            id="age"
            aria-describedby="ageGroupPrepend"
            [(ngModel)]="selectedAge"
            name="age"
          >
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="heartratePrepend"
              >Heart Rate</span
            >
          </div>
          <input
            type="number"
            class="form-control"
            id="heartrate"
            placeholder="Heart Rate"
            [(ngModel)]="heartRate"
            name="heartrate"
            required
          />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">Hb</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="hb"
            aria-describedby="inputGroupPrepend"
            [(ngModel)]="Hb"
            name="Hb"
            pattern="^\d*(\.\d{0,2})?$"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PVSatPrepend">PVSat</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="pvsat"
            aria-describedby="inputGroupPrepend"
            [(ngModel)]="PVSat"
            name="pvsat"
            required
          />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PVPaO2Prepend">PVPaO2</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="pvpao2"
          [(ngModel)]="PVPaO2"
          name="pvpao2"
          required
        />
        </div>
      </div>
      <!-- <div class="col-md-2 mb-3"></div> -->
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PASatPrepend">PASat</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="pasat"
            [(ngModel)]="PASat"
            name="pasat"
            required
          />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PAPaO2Prepend">PAPaO2</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="papao2"
          [(ngModel)]="PAPaO2"
          name="papao2"
          required
        />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="AORTASatPrepend">AORTASat</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="aortasat"
          [(ngModel)]="AORTASat"
          name="aortasat"
          required
        />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="AORTAPaO2Prepend">AORTAPaO2</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="aortapao2"
          [(ngModel)]="AortaPaO2"
          name="aortapao2"
          required
        />
      </div>
      </div>
      <!-- <div class="col-md-2 mb-3"></div> -->
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="MVSatPrepend">MVSat</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="mvsat"
          [(ngModel)]="MVSat"
          name="mvsat"
          required
        />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="MVPaO2Prepend">MVPaO2</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="mvpao2"
          [(ngModel)]="MVPaO2"
          name="mvpao2"
          required
        />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="meanPApPrepend">meanPAp</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="meanpap"
          [(ngModel)]="meanPAp"
          name="meanpap"
          required
        />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="meanLApPrepend">meanLAp</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="meanlap"
          [(ngModel)]="meanLAp"
          name="meanlap"
          required
        />
        </div>
      </div>
      <!-- <div class="col-md-2 mb-3"></div> -->
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="meanAOpPrepend">meanAOp</span>
          </div>
        <input
          type="text"
          class="form-control"
          id="meanaop"
          [(ngModel)]="meanAOp"
          name="meanaop"
          required
        />
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="meanRApPrepend">meanRAp</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="meanrap"
            [(ngModel)]="meanRAp"
            name="meanrap"
            required
          />
        </div>
      </div>
    </div>
    <button class="btn btn-primary mr-2" type="submit">Calculate</button>
    <button class="btn btn-secondary" type="button" (click)="Reset(calcForm)">
      Reset
    </button>
  </form>
  <hr />
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label>Qp</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Qp"
          name="qp"
          readonly
        />
      </div>
      <div class="col-md-2 mb-3">
        <label>Qs</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Qs"
          name="qs"
          readonly
        />
      </div>
      <div class="col-md-2 mb-3">
        <label>Qp/Qs</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="QpbyQs"
          name="QpbyQs"
          readonly
        />
      </div>
      <div class="col-md-2 mb-3">
        <label>PVR</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Pvr"
          name="pvr"
          readonly
        />
      </div>
      <div class="col-md-2 mb-3">
        <label>SVR</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Svr"
          name="svr"
          readonly
        />
      </div>
      <div class="col-md-2 mb-3">
        <label>PVR/SVR</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="PvrbySvr"
          name="PvrbySvr"
          disabled
        />
      </div>
    </div>
  </div>
</div>
